  <table class="table">
    <thead class="thead-dark">
        <tr class="css-table-row">
          <th>#</th>
          <th>Marca</th>
          <th>Linea</th>
          <th>Modelo</th>
        </tr>
    </thead>
    <tbody class="css-table-body">
        <tr *ngFor="let vehiculo of vehiculos" class="css-table-row">
          <th>{{ vehiculo.id }}</th>
          <td>{{ vehiculo.marca }}</td>
          <td>{{ vehiculo.linea }}</td>
          <td>{{ vehiculo.modelo }}</td>
        </tr>
    </tbody>
  </table>

  <div *ngFor="let marca of marcas" class="desc">
    <div *ngIf="marca.contador!=0;">
      Total {{ marca.itemId }}: {{ marca.contador }}
    </div>
  </div>
